.banner{
    border: 3px solid #d8d2d2;
    margin: auto;
    max-width: 1000px;
    height: 110px;
    border-radius: 10px;
    margin-bottom: 20px;
    /* flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner h1{
    color: #e82727;
    font-size: 18px;
}
.banner h2{
    color: #456dcc;
    font-size: 17px;
}